<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>

    <a href="http://localhost:3000/">Home</a></br>

<h2>About Namche BookStore</h2>

<p>Namche has been serving its local community of schools and readers for 20 years.</p>
<p>We support local bookgroups including member discounts. Our passion is to encourage reading for all age groups, so do pop in for a chat and find out what we have to offer.</p>

    
</body>
</html>