<!doctype html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Book List</title> 
</head>

  
<body>

<a href="http://localhost:3000/">Home</a></br>

<h1>Available Books</h1>


<ul>
<table>

<tr>
<th>Book Name</th>
<th>Price</th>
</tr>

<% availablebooks.forEach(function(book){ %>

<tr >

<td> <%= book.name %></td>
<td> £<%= book.price %></td>

</tr>
<% }) %>
   
</table>
</ul>


</body>
</html>
