 <!doctype html>
  <html> 

 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>home page</title>
</head> 

<body>

<li><a class="active" href="http://localhost:3000/">Home</a></li> 
<li><a href= "http://localhost:3000/register">Register</a></li>
<li><a href= "http://localhost:3000/login">Login</a></li>

<li><a href="http://localhost:3000/addbook">AddBook</a></li> 
<li><a href= "http://localhost:3000/booklist">BookList</a></li>  
<li><a href= "http://localhost:3000/about">About</a></li>  

         
<h2>Welcome to Namche BookStore </h2>


</body>
</html>

