
<!doctype html> 
<html>

<head>
<title>Login</title>
</head>

<body>

<a href="http://localhost:3000/">Home</a></br>

<h1>Login</h1>
<p>Please enter username and password to login</p>

<form action="/loggedin" method="POST">
	<label for="uname">Username:</label><br>
	<input id="search-box" type="text" name="username" placeholder="enter username" required ><br><br>
	
	<label for="pass">Password:</label><br>
	<input id="search-box" type="text" name="password" placeholder="enter password" required ><br><br>
        <input type="submit" value="Submit" >
</form>

</body> 
</html>

