<!doctype html>
<html>

<head>
    <title>Search Books</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <style>
        h1 {
            color: green;
            text-align: center;
        }

        title {
            text-align: center;
        }

        p {
            font-family: verdana;
            text-align: center;
            font-size: 16px;
        }

        form {
            border: 3px solid #f1f1f3;
            text-align: center;
        }
    </style>
</head>


<a href="http://localhost:3000/">
<i class="fa fa-home"
style="font-size:28px; padding-right:5px; color:lightsmoke"></i>Home</a></br>


<h1>Search Books</h1>

<body>

    <h3>Please enter bookname to see available books in our store:</h3>

    <form action="" method="GET">
        <label for="bname">Bookname:</label><br>
        <input type="text" class="form-control" name="name" placeholder="enter book name" required>
    </form>

   

</body>

</html>