<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Listusers</title>
    <style>
        h1 {
            color: green;
            text-align: center;
        }

        p {
            text-align: center;
            font-family: verdana;
            font-size: 16px;
        }

    
        .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
    </style>
</head>

<a href="http://localhost:3000/">
    <i class="fa fa-home"
    style="font-size:28px; padding-right:5px; color:lightsmoke"></i>Home</a></br>

<h1> List of Users </h1>

<body style="background-color:#f3f2f0">

   
           

            <% availableusers.forEach(function(users){ %>
                

          <div class="card">
            <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"
             alt="user image" style="width:30%">
            <h2> <%= users.username %></h2>
           
            <p class="price"><%= users.email %></p>
            
            
          </div>

                <% }) %>
        
</body>

</html>